@font-face {
    font-family: 'hand1';
    src: url('./font/hand-1.otf');
}

@font-face {
    font-family: 'hand2';
    src: url('./font/hand-2.otf');
}

@font-face {
    font-family: 'hand3';
    src: url('./font/hand-3.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'hand2';
    font-size: 1.8rem;
    background-color: whitesmoke;
    color: black;
    cursor: default;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#button-draw, #button-save, #button-cancel {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin-bottom: 7rem;
    font-family: 'hand2';
    font-size: 7rem;
    background-color: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
    z-index: 9999;
    transition: all .3s ease-in-out;
}

button:focus {
    outline: none;
}

#button-draw {
    display: block;
}

#button-save, #button-cancel {
    display: none;
}

#button-cancel {
    margin-bottom: 4rem;
    font-size: 3.5rem;
    color: gray;
}

#button-cancel:hover {
    color: #1f1f1f;
}

.dark-button:hover {
    color: #e3e3e3 !important;
}

#speak-draw {
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 99;
    pointer-events: none;
}

.speak-draw--texts {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%);
}

#speak-draw p {
    font-size: 6rem;
    text-align: center;
}

#speak {
    margin-bottom: 7rem;
}

#write-input {
    text-align: center;
    color: inherit;
    pointer-events: all;
    font-size: 6rem;
    font-family: 'hand2';
    width: 45vw;
    border: none;
    background-color: transparent;
    cursor: move;
}

#write-input:focus {
    outline: none;
}

#write-input::placeholder {
    color: inherit;
    opacity: 1;
}

#button-about {
    position: fixed;
    color: inherit;
    top: 3rem;
    right: 2rem;
    font-family: 'hand3';
    font-size: 5.8rem;
    z-index: 99999999999;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.about-container {
    position: absolute;
    display: none;
    right: 2rem;
    z-index: 99999;
    width: 45rem;
    height: 100vh;
}

#about {
    padding: 2rem;
    padding-top: 3.5rem;
    font-size: 2.8rem;
    height: 53vh;
}

#title {
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

.about-text {
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

.about-text a {
    color: #ffbb00;
}

.margin-top {
    margin-top: 10rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

#save-canvas {
    text-decoration: underline;
    cursor: pointer;
}

#save-canvas:hover {
    color: #ffbb00;
}

#user-history {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    padding-top: 0;
    width: 45rem;
    height: 47vh;
    overflow: scroll;    
}

.history-title {
    font-size: 3.8rem;
}

.history {
    margin-bottom: 2rem;
}

.message {
    font-size: 3.5rem;
}

.typeTime {
    font-size: 2.4rem;
    color: inherit;
}

#canvas-image{
    display: none;
    width: 6400px;
}

@media (max-width: 75em) {
    main {
        overflow: scroll;
    }

    #canvas-image {
        display: block;
    }

    #about {
        height: auto;
    }

    #user-history {
        position: static;
        top: 0;
        height: auto;
        overflow: visible;
    }

    #button-draw, #save-canvas {
        display: none;
    }

    .about-container {
        right: 0;
        left: 0;
        width: 100vw;
        height: auto;
    }

    #user-history {
        width: calc(100vw - 3rem);
    }
}

@media (max-width: 37.5em) {
    #site-name {
        font-size: 4rem;
    }
}